SERVER_PORT=8090
APP_DEVELOPMENT=false
JWT_SECRET=change-me
JWT_ISSUER=handball-support
JWT_AUDIENCE=handball-users
CORS_ALLOWED_ORIGINS=https://referee-voting.mydomain.tld
EXTERNAL_API_ENABLED=true
EXTERNAL_API_KEY=change-me
EXTERNAL_API_BASE_URL=https://api.sportradar.com/
EXTERNAL_API_TOURNAMENTS_FILE=/app/data/tournaments.json
AUTH_USERS_FILE=/app/data/auth-users.json
PERFORMANCE_EVALUATIONS_FILE=/app/data/performance-evaluations.json
COACHING_EVALUATIONS_DB=/app/data/coaching-evaluations.sqlite
